/*app.wxss*/

* {
	box-sizing: border-box;
}

.jx-primary-btn{
	color: #FFFFFF;
	background-color: #BC0100;
}

.submit {
	background-color: #BC0100;
}

.font-size-18px {
	font-size: 13.5pt;
}

.font-size-14px {
	font-size: 10.5pt;
}

.font-size-16 {
	font-size: 16pt;
}

.font-size-12 {
	font-size: 12pt;
}

.font-size-9 {
	font-size: 9pt;
}

.tui-btn {
	/* #ifndef APP-NVUE */
	display: flex;
	/* #endif */
	
	flex: 1;
	height: 100%;
	align-items: center;
	justify-content: center;
	color: #FFFFFF;
}

.tui-btn.show-popup {
	background-color: #E41C1C;

}

.tui-btn.submit {
	background-color: #FF7900;
}

body {
	margin: 0;
	padding: 0;
	min-width: 320px;
	background: #fff;
	font-size: 14px;
	line-height: 1.5;
	color: #666;
}

body,
page {
	background-color: #f2f2f2;
	/* padding-bottom: 2.5rem; */
}

page {
	background: #fafafa;
	font-size: 32rpx;
	height: 100%;
}

.container {
	/* #ifndef APP-NVUE */
	display: flex;
	/* #endif */
	flex-direction: column;
	box-sizing: border-box;
}

.phcolor {
	color: #ccc;
	font-size: 32rpx;
}

button::after {
	border: none;
}

.opcity {
	opacity: 0.5;
}

.hover {
	background: #f7f7f9 !important;
}

.ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/*列表统一样式 */

.list-item {
	position: relative;
}

.list-item::after {
	content: '';
	position: absolute;
	border-bottom: 1rpx solid #eaeef1;
	-webkit-transform: scaleY(0.5);
	transform: scaleY(0.5);
	bottom: 0;
	right: 0;
	left: 30rpx;
}

.last::after {
	border-bottom: 0 !important;
}

/*按钮样式*/

.btn-primary {
	width: 100%;
	height: 90rpx;
	line-height: 90rpx;
	background: linear-gradient(-90deg, #5677fc, #5c8dff);
	border-radius: 45rpx;
	color: #fff;
	font-size: 36rpx;
}

.btn-hover {
	color: #d5d4d9;
	background: linear-gradient(-90deg, #4a67d6, #4e77d9);
}

.btn-gray {
	background: #ededed;
	color: #999 !important;
}

.btn-gray-hover {
	background: #d5d5d5 !important;
	color: #898989;
}

.btn-white {
	background: #fff;
	color: #333 !important;
}

.tui-white-hover {
	background: #e5e5e5 !important;
	color: #2e2e2e !important;
}

.btn-disabled {
	color: #fafbfc !important;
	background: linear-gradient(-90deg, #cad8fb, #c9d3fb);
}


.flex {
	display: -webkit-box;
	display: -webkit-flex;
	/* #ifndef APP-NVUE */
	display: flex;
	/* #endif */
}

.flex-row {
	display: -webkit-box;
	display: -webkit-flex;
	/* #ifndef APP-NVUE */
	display: flex;
	/* #endif */
	-webkit-box-orient: horizontal;
	-webkit-flex-direction: row;
	flex-direction: row;
}

.flex-col {
	display: -webkit-box;
	display: -webkit-flex;
	/* #ifndef APP-NVUE */
	display: flex;
	/* #endif */
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.flex-grow-0 {
	min-width: 0;
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.flex-grow-1 {
	min-width: 0;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-flex-shrink: 1;
	-ms-flex-negative: 1;
	flex-shrink: 1;
}

.flex-x-center {
	display: -webkit-box;
	display: -webkit-flex;
	/* #ifndef APP-NVUE */
	display: flex;
	/* #endif */
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.flex-x-between {
	display: -webkit-box;
	display: -webkit-flex;
	/* #ifndef APP-NVUE */
	display: flex;
	/* #endif */
	-webkit-box-pack: space-between;
	-webkit-justify-content: space-between;
	-ms-flex-pack: space-between;
	justify-content: space-between;
}

.flex-x-bottom {
	display: -webkit-box;
	display: -webkit-flex;
/* #ifndef APP-NVUE */
	display: flex;
	/* #endif */
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}

.flex-y-center {
	display: -webkit-box;
	display: -webkit-flex;
	/* #ifndef APP-NVUE */
	display: flex;
	/* #endif */
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	-ms-grid-row-align: center;
	align-items: center;
}

.flex-y-bottom {
	display: -webkit-box;
	display: -webkit-flex;
	/* #ifndef APP-NVUE */
	display: flex;
	/* #endif */
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	-ms-grid-row-align: flex-end;
	align-items: flex-end;
}

/* 溢出隐藏 */
.over1 {
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.over2 {
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}


/* scroll-view去掉滚动条属性 */
/*通用 */
/deep/.uni-scroll-view::-webkit-scrollbar {
	/* 隐藏滚动条，但依旧具备可以滚动的功能 */
	display: none
}
