@font-face {
  font-family: 'iconfont';  /* project id 2366234 */
  src: url('https://at.alicdn.com/t/font_2366234_pi3oebo3ow.eot');
  src: url('https://at.alicdn.com/t/font_2366234_pi3oebo3ow.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_2366234_pi3oebo3ow.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_2366234_pi3oebo3ow.woff') format('woff'),
  url('https://at.alicdn.com/t/font_2366234_pi3oebo3ow.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_2366234_pi3oebo3ow.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconshouye:before {
  content: "\e61e";
}

.iconleimupinleifenleileibie:before {
  content: "\e7f9";
}

.icongouwuche:before {
  content: "\e801";
}

.iconwode:before {
  content: "\e712";
}

.iconfenleishouye:before {
  content: "\e60e";
}

.iconfenxiang:before {
  content: "\e631";
}

.iconwujiaoxing:before {
  content: "\e76b";
}

.iconsousuo:before {
  content: "\e669";
}

.iconxuanzhong:before {
  content: "\e68b";
}

.icondingwei:before {
  content: "\e632";
}

